.input{
  font-weight: 300;
}ion-item {
  --background: #f1f1f1;
  border-radius: 10px;
  margin-bottom: 16px;
}
.header{
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;

  .subtitle{
    color: rgb(245, 222, 179);
      font-size: 0.9rem;
  }
  .title{
      font-size: 2rem;
      color: wheat;

  }
}

.sendBtn {
  margin: 35px;
  --background: #f5f5dc; /* Beige color */
  --color: black; /* Optional: set the text color */
}

ion-content {
  --background: url('/assets/onboarding_screens/3.jpg') no-repeat center center / cover;
}
