<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Event List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let event of events" (click)="openEvent(event)">
      <ion-avatar slot="start">
        <img [src]="event.imageUrl" alt="{{ event.name }}" />
      </ion-avatar>
      <ion-label>
        <h2>{{ event.name }}</h2>
        <p>{{ event.description }}</p>
        <p>{{ event.date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addEvent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
