
ion-content.background{
--background:url(../../../assets/upcoming-events-neon-signs-style-text-vector.jpg) no-repeat center center/cover;}

.container {
flex-grow: 1;
display: flex;
Justify-content: flex-end;
left: 0;
right: 0;
bottom:0;
position: absolute;
flex-direction: column;
padding:26px;}